<html>
<head>
  <style>
 
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>

<div class = "head-bar">
  <h1 class = "head-title"> WELCOME TO HANGMAN </h1>
</div>

<br>

<div class = "container">
  <div class = "content">
    <h3 class ="counter">You have <%= count %> tries to guess the secret word.</h2>

        <h2 class = "text-color">
          <% if blanks.is_a? String %>
            <%= blanks %>
          <% else %> 
          <%= blanks.join(" ") %>
          <% end %>
        </h2>

      <p class = "text-color">
        WRONG: <%= wrong%>
      </p>

      <form  method="PUT" action="/letter">
        <p class="text-color"> <strong>Enter Letter:</strong> <input type='text' name='letter' /></p><br>
        <input type='submit' value='Guess' />  
      </form>

      <form method="post" action="/reset">
        <input type='submit' value='Reset'>
      </form>

    <div class = "text-color">
        <% display.each do |index| %>
          <pre> <%= index %> </pre>

        <% end %>
    </div>
  </div>
</div>


</body>
</html>